<h1>Vince Benedetti</h1>
<div class='about-vince'>
  <p>
    Vince Benedetti is an Italo-American Piano Jazz Player from New Jersey, US.
    He has gone on to play in many European countries and has collaborated with
    fellow Jazz musicians, among them one can find the likes of Diana Krall,
    Benny Waters, René Thomas, Aaron Bridgers, Art Simmons, etc.
  </p>
  <p>He spent most of the 60's in Paris, where he played gigs at places such as
    "The Living Room", "The Blue Note" and many more.</p>
  <p>During those years he also played in Switzerland, where he met his wife,
    and other countries like Belgium, Spain and Italy</p>
</div>