<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/aboutstyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="home-page"><a href="/">Home</a></li>
        <li class="about-page"><a href="/about">About</a></li>
        <li class="works-page"><a href="/works">Works</a></li>
        <li class="photo-page">
          <a href="/photogallery">Photo Gallery</a>
        </li>
      </ul>
    </nav>
    <h1>Vince Benedetti</h1>
    <div class="about-vince">
      <p>
        Vince Benedetti is an Italo-American Piano Jazz Player from New Jersey,
        US. He has gone on to play in many European countries and has
        collaborated with fellow Jazz musicians, among them one can find the
        likes of Diana Krall, Benny Waters, René Thomas, Aaron Bridgers, Art
        Simmons, etc.
      </p>
    </div>
    <div></div>
  </body>
</html>
