<div class='home'>
  <img src='/images/Abuelo.jpeg' alt='el-abuelo' />
  <p>
    This is a page dedicated to Vince Benedetti, my grandfather and a figure
    that I admire and look up to very much. He is an accomplished musician as
    well as a knowledgeable person who also has a great sense of humor.
  </p>
</div>