<div id='gallery'>

  <img src='/images/closeup.jpeg' alt='close-up' />
  <img src='/images/blackandwhite.jpeg' alt='blackAndWhite' />
  <img src='/images/teaching.png' alt='teaching' />
  <img src='/images/directing.gif' alt='directing' />
  <img src='/images/finerthings.jpeg' alt='finerThings' />
  <img src='/images/triocasablanca.jpeg' alt='trioCasablanca' />
  <img src='/images/trumpet.jpeg' alt='trumpet' />
  <img src='/images/vocalquartet.png' alt='vocalQuartet' />
  <img src='/images/zagreb.png' alt='zagreb' />

</div>