<h1>Vince Benedetti's Discography</h2>

<p>Vince Benedetti has had a prolific career. He has played with some of the
  greatest Jazz musicians of his time, many of whom where his idols growing up.</p>

<p>He also played a key role in the discovery of new talent such as the famous
  Canadian Jazz singer Diana Krall.</p>

<p>Listen to 'Heartdrops', the album that they released together, clicking here:</p><a
  class='heartdrops'
  href='https://open.spotify.com/album/1Yr10wVImZlLP5CR3JRPO1'
>Heartdrops</a>